body.light {
  color: #666;
  background-color: #fff;
}
  
body.home.light .home-details h1 span {
  color: #666;
}
  
body.home.light .home-details h6 {
  color: #777;
}

body.home.light .bg {
  background-image: url(../Image/myimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  box-shadow: 0 0 7px rgba(0,0,0,.3);
}

body.light .preloader .black_wall {
  background-color: #eee;
}

body.light .preloader {
  background-color: #fff;
}

body.light .title-section h1 {
  color: #666;
}

body.light .title-bg {
  color: rgba(30, 37, 48, 0.07);
}

body.light.about .box-stats {
  border: 1px solid #ddd;
}

body.light.about .c100,
body.light.about .resume-box .time {
  background-color: #eee;
}

body.light.about .resume-box .time,
body.light.about .resume-box p {
  color: #666;
}

body.light.about .resume-box .place:before {
  background-color: #666;
}

body.light.about  .resume-box li:after {
  border-left: 1px solid #ddd;
}

body.light.about .c100 > span {
  color: #666;
}

body.light.about .c100:after {
  background-color: #fff;
}

body.light.contact .contactform input[type=text],
body.light.contact .contactform input[type=email],
body.light.contact .contactform textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #666;
}

body.light.contact  ul.social li a {
  color: #666;
  background: #eee;
}

body.light.contact  ul.social li a:hover {
  color: #fff;
}


body.light hr.separator {
  border-top: 1px solid #ddd;
}

@media (min-width: 992px) {
  body.light .header ul.icon-menu li.icon-box {
    background-color: #eee;
  }

  body.light .header ul.icon-menu li.icon-box i {
    color: #666;
  }

  body.light .header ul.icon-menu li.icon-box.active,
  body.light .header ul.icon-menu li.icon-box:hover,
  body.light .header ul.icon-menu li.icon-box.active i,
  body.light .header ul.icon-menu li.icon-box:hover i {
    color: #fff;
  }
}

@media (max-width: 991px) {

  body.light .main-img-mobile {
    border: 4px solid #eee;
  }

  body.light #menuToggle {
    border: 1px solid #ddd;
  }

  body.light #menuToggle,
  body.light #menu {
    background: #eee;
  }

  body.light #menuToggle > span,
  body.light #menuToggle input:checked ~ span {
    background: #666;
  }

  body.light #menu li a {
    color: #666;
  }

  body.light #menu li:after {
    background: #ddd;
  }

}

@media (max-width: 576px) {
  body.light .title-section {
    background: #eee;
    border-bottom: 1px solid #ddd;
  }

  body.light #menuToggle {
    border: 0;
  }
}